<!-- [ navigation menu ] start -->
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Навигация</div>
            <a class="nav-link" href="{{ url_for('index') }}">
                <div class="sb-nav-link-icon "><i class="fas fa-table"></i></div>
            </a>
            <a class="nav-link" href="{{ url_for('upload_2') }}">
                <div class="sb-nav-link-icon "><i class="fas fa-table"></i></div>
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Пользователь:</div>
        {{ current_user.name }}
    </div>
</nav>
<!-- [ navigation menu ] end -->
