{% extends 'layout.html' %}

{% block content %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{ title }}</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">{{ title }}</li>
            </ol>
        </div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="fileInput" class="form-label">Выберите файл Excel:</label>
            <input type="file" id="fileInput" name="file" accept=".xlsx, .xls">
            <input type="submit" value="Загрузить" style="display: none;">
        </form>
        <table id="ResultTable" class="table table-striped table-bordered">
            <thead>
            <tr>
                {% for header in headers %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    {% for cell in row %}
                        <td contenteditable="true" data-value="{{ cell }}">{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="button" id="saveBtn" class="btn btn-primary" value="Сохранить">Сохранить</button>
{#        <form id="saveForm" action="/save" method="POST">#}
{#            <input type="hidden" id="data" name="data" class="btn btn-primary" value="Сохранить">#}
{#            <button type="submit" id="saveBtn">Сохранить</button>#}
{#        </form>#}
    </main>
    {% block scripts %}
        {{ super() }}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.bootstrap5.min.js"></script>
        {#        <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>#}
        <script src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
        <script src="{{ url_for('static', filename='js/scripts_2.js') }}"></script>
    {% endblock %}
{% endblock %}