{% extends 'layout.html' %}

{% block content %}
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Панель управления</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Панель управления</li>
            </ol>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Информация:
            </div>
            <div class="card-body">
                Ты {{ current_user.name }}!
            </div>
        </div>
    </main>
{% endblock %}