<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>XLSXauto</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
{#    <h1>Загрузить xlsx</h1>#}
{#    <form method="POST" action="/" enctype="multipart/form-data">#}
{#        <input type="file" name="file" accept=".xlsx" required>#}
{#        <input type="submit" value="Загрузить">#}
{#    </form>#}
    <h1>Главная страница</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="fileInput">Выберите файл</label>
        <input type="file" name="file" accept=".xlsx" id="fileInput">
        <input type="submit" value="Загрузить" style="display: none;">
    </form>

{#    {% if data.shape[0] > 0 %}#}
{#        <h2>Итоговая таблица</h2>#}
{#        <form method="POST" action="/save">#}
{#            <input type="submit" value="Сохранить">#}
{#        </form>#}
{#        {{ data.to_html(classes="table table-striped table-bordered") | safe }}#}
{#    {% endif %}#}
    {% if data.shape[0] > 0 %}
        <h2>Итоговая таблица</h2>
        <form method="POST" action="/save">
            <input type="submit" value="Сохранить">
        </form>
        <table class="table table-striped table-bordered" id="data-table" style="border-style: solid; border-width: 1px;">
            <thead>
                <tr>
                    <th>НАИМЕНОВАНИЕ1</th>
                    <th>НАИМЕНОВАНИЕ2</th>
                    <th>ИЗГОТОВИТЕЛЬ</th>
                    <th>ТМ</th>
                    <th>МАРКА</th>
                    <th>МОДЕЛЬ</th>
                    <th>АРТ</th>
                    <th>СПТ</th>
                    <th>КОЛ-ВО</th>
                    <th>КОД</th>
                    <th>НАИМ</th>
                    <th>КОД ТНВД</th>
                    <th>ДОП КОД</th>
                    <th>ВЕС ШТ</th>
                    <th>БР</th>
                    <th>НТ</th>
                    <th>$/КГ</th>
                    <th>ЦЕНА</th>
                    <th>МЕСТА</th>
                    <th>МЕСТ ЧАСТ</th>
                    <th>ЕСТЬ/НЕТ</th>
                    <th>КОД УП</th>
                    <th>ДОП КОД УП</th>
                    <th>КОД №1</th>
                    <th>СЕРТ №1</th>
                    <th>НАЧАЛО №1</th>
                    <th>КОНЕЦ №1</th>
                    <th>КОД №2</th>
                    <th>СЕРТ №2</th>
                    <th>НАЧАЛО №2</th>
                    <th>КОНЕЦ №2</th>
                </tr>
            </thead>
            <tbody>
                {% for index, row in data.iterrows() %}
                    <tr>
                        <td>{{ row['НАИМЕНОВАНИЕ1'] }}</td>
                        <td contenteditable="true">{{ row['НАИМЕНОВАНИЕ2'] }}</td>
                        <td>{{ row['ИЗГОТОВИТЕЛЬ'] }}</td>
                        <td contenteditable="true">{{ row['ТМ'] }}</td>
                        <td>{{ row['МАРКА'] }}</td>
                        <td>{{ row['МОДЕЛЬ'] }}</td>
                        <td>{{ row['АРТ'] }}</td>
                        <td>{{ row['СПТ'] }}</td>
                        <td contenteditable="true">{{ row['КОЛ-ВО'] }}</td>
                        <td>{{ row['КОД'] }}</td>
                        <td>{{ row['НАИМ'] }}</td>
                        <td>{{ row['КОД ТНВД'] }}</td>
                        <td>{{ row['ДОП КОД'] }}</td>
                        <td>{{ row['ВЕС ШТ'] }}</td>
                        <td contenteditable="true">{{ row['БР'] }}</td>
                        <td>{{ row['НТ'] }}</td>
                        <td>{{ row['$/КГ'] }}</td>
                        <td>{{ row['ЦЕНА'] }}</td>
                        <td>{{ row['МЕСТА'] }}</td>
                        <td>{{ row['МЕСТ ЧАСТ'] }}</td>
                        <td>{{ row['ЕСТЬ/НЕТ'] }}</td>
                        <td>{{ row['КОД УП'] }}</td>
                        <td>{{ row['ДОП КОД УП'] }}</td>
                        <td>{{ row['КОД №1'] }}</td>
                        <td>{{ row['СЕРТ №1'] }}</td>
                        <td>{{ row['НАЧАЛО №1'] }}</td>
                        <td>{{ row['КОНЕЦ №1'] }}</td>
                        <td>{{ row['КОД №2'] }}</td>
                        <td>{{ row['СЕРТ №2'] }}</td>
                        <td>{{ row['НАЧАЛО №2'] }}</td>
                        <td>{{ row['КОНЕЦ №2'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <!-- JavaScript для автоматической отправки формы -->
    <script>
        $(document).ready(function () {
            let $contentEditableCells = $('td[contenteditable]');

            $('#fileInput').change(function () {
                // Симулируем нажатие на кнопку "Загрузить" при выборе файла
                $('input[type="submit"]').click();
            });

            // При клике на ячейку начинаем редактирование
            $contentEditableCells.on('click', function () {
                $(this).data('oldValue', $(this).text());
            });

            // При нажатии на Enter заканчиваем редактирование и сохраняем данные в DataFrame
            $contentEditableCells.on('keypress', function (e) {
                if (e.which === 13) {
                    $(this).blur();
                }
            }).on('blur', function () {
                let newValue = $(this).text();
                if (newValue !== $(this).data('oldValue')) {
                    // var columnIndex = $(this).index();
                    // var rowIndex = $(this).closest('tr').index() - 1;
                    let cellId = $(this).data('data-id');
                    $(this).data('oldValue', newValue);
                    let data = $('#data-table tbody').html();
                    // $('#data-table').find('tr:eq(' + (rowIndex + 2) + ')').find('td:eq(' + columnIndex + ')').text(newValue);

                    // Отправляем обновленные данные на сервер
                    $.ajax({
                        type: "POST",
                        url: "/update",
                        dataType: 'json',
                        contentType: 'application/json;charset=UTF-8',
                        data: JSON.stringify({data: data}),
                       // data: JSON.stringify({
                        //    id: cellId,
                        //    value: newValue,
                        //    data: data}),
                        success: function (result) {
                            console.log(result);
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>